.user-tabs .nav-tabs.nav-tabs-bottom > li > a.active,
.user-tabs .nav-tabs.nav-tabs-bottom > li > a.active:hover,
.user-tabs .nav-tabs.nav-tabs-bottom > li > a.active:focus {
    border-bottom-width: 3px;
    color: #20c0f3;
}
.nav-tabs.nav-tabs-bottom > li > a.active,
.nav-tabs.nav-tabs-bottom > li > a.active:hover,
.nav-tabs.nav-tabs-bottom > li > a.active:focus {
    border-bottom-width: 2px;
    border-color: transparent;
    border-bottom-color: transparent;
    border-bottom-color: #20c0f3;
    background-color: transparent;
    transition: none 0s ease 0s;
    -moz-transition: none 0s ease 0s;
    -o-transition: none 0s ease 0s;
    -ms-transition: none 0s ease 0s;
    -webkit-transition: none 0s ease 0s;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.user-tabs .nav-tabs > li > a {
    border: 0;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-left-color: currentcolor;
    border-bottom: 3px solid transparent;
    border-bottom-color: transparent;
    border-bottom-width: 3px;
    font-weight: 600;
    padding: 20px;
}
.nav-tabs.nav-justi .nav-tabs .nav-link {
    border-radius: 0;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.nav-tabs > li > a {
    display: block;
    margin-right: 0;
    border-radius: 0;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
.nav-justified .nav-item {
    text-align: center;
}
.nav {
    list-style: none;
}
